/*
...normalize
*/
.menuArea{
    float:'center';
    display: 'flex';
    flex-direction:"row";
    width:100%;
}
.wrap{
    width:100%;
    display:'flex';

}

.menuBar{
    /* padding: 1rem; */
    background: #be5eff;
    width: 100%;
    margin-bottom: 1rem;


}
.tabs li{
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    color: #efefef;
    padding: 1rem;
    width:15%;
}
.tabs li.active{
    background-color: #6f03b7;
    height: 100%;
}



.main {
    display: flex;
    height: 100vh;
    width: 100%;
    /*align-items: center;*/
    flex-direction: column;
    row-gap: 10px;
}

.noteTitle{
    margin-top: 10px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding:0;
    margin-left: 20%;
}

.accordion {
    margin-left: 20%;
    /*margin-right:30px;*/
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.accordion__item {
    width: 100%;
    max-height: 15px;
    padding: 17px 10px;
    border-bottom: 1px solid #000000;
    color: rgb(0, 0, 0);
    overflow: hidden;
    cursor: pointer;
}

.accordion__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.accordion__header h4 {
    transition: 0.2s ease-in-out;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.accordion__header i {
    transition: 0.2s ease-in-out;
    transform-origin: center;
    margin-bottom: 10px;
}

.accordion__header:hover h4 {
    color: #000708!important;
}

.accordion__header:hover i {
    color: #001214c2;
}

.accordion__content {
    margin: 5px;
}

@media (max-width:600px) {
    h1 {
        font-size: 30px;
    }
    .accordion__item {
        width: 80%;
    }
}

.searchButton{
    width:10%;
    height:15%;
    font-size:25px;
    margin:auto;
}


.searchImg{
    width: 300px;
    height:300px;
    object-fit: contain;
}


.searchImgContainer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}